.footer {
    background-color: rgba(255, 255, 255, 0.1); /* Poluprovidna bela pozadina*/
    backdrop-filter: blur(15px); /* Blur efekat */
    color: white;
    text-align: center;
    font-family: 'Snell Roundhand', cursive;
    padding: 10px; /* Dodaje malo prostora unutar footera */
    position: fixed; /* Fiksira footer na dnu stranice */
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    height: 40px; 
}

.footer-links a {
    color: #faf4e3;
    font-family: 'Snell Roundhand', cursive;
    margin: 10px 15px;
    font-size: 14px;
    text-decoration: none; /* Uklanja podvučene linkove */
}

.footer-links a:hover {
    color: #d3c8a2; 
}

.social-media img {
    height: 20px;
    margin: 5px 5px;
    gap: 10px;
}