.footer {
    position: sticky;
    height: 150px;
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    color: white;
    text-align: center;
    font-family: 'Snell Roundhand', cursive;
    width: 100% 
}
.footer .footer-logo img {
    height: 80px; 
    justify-content: center;
    display:flexbox;
    margin-top: 10px;
}
.footer .footer-links {
    justify-content: center;
    display: flex;
    
}
.footer .footer-links a {
    color: #faf4e3;
    font-family: 'Snell Roundhand', cursive;
    text-decoration: none;
    font-size: 14px;
    justify-content: center;
    display: flex;
    padding: 0px 5px 0px 5px;
}
.footer .footer-links a:hover {
    color: #a3826c; /* Krem boja za hover efekat */
}
.footer .social-media {
    display: flexbox;
    gap: 10px; 
}
.footer .social-media img {
    height: 20px; /* Veličina ikona društvenih mreža */
    margin: 15px 5px 0px 5px;
    position: right;
}