
/*---- information----*/
label{
    display: flex;
}

.title{
    color: white;
    text-align: center;
    font-family: "Freestyle Script";
    margin-top: 3%;
    font-size: 65px;
}
.form{
   margin: 2%;
    width: 80%;
    color: white; 
    border-radius: 8px;
    margin-top: 5%;
}
.form input{
    border-radius: 4px;
    font-size: medium;
}
.form textarea{
    resize: none;
    border-radius: 6px;
    font-size: large;
}
.form button{
    border: 2px solid black;
    color: rgb(0, 0, 0);
    width: 20%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    transition-duration: 0.4s;
    font-size: medium;
    padding: 1%;
}
button:hover{
    background-color: black;
    color: white;
}
.contact{
    display: flex;
    justify-content: space-between;
    
}
.information{
    color: white;
    width: 100%;
     margin: 2%;
     margin-left: 10%;
    display: inline-block;
    font-size: 20px;
}
.information li{
    list-style: none;
    margin: 1%;
}
h2{
    margin: 5%;
}
iframe{
    width: 80%;
    height: 90vh;
    margin-left:10% ;
    margin-right: 10%;
}


/* Mobile */
@media(max-width:600px){
    label{
        display: flex;
    }
    button{
        border: 1px solid black;
        border-radius: 4px;
        width: 50%;
        padding: 1.5%  
    }
    .contact{  
        display: block;
        
    }
    .information{
        display: block;
        width: 60%;
        height: 30vh;
        margin: 0%;
        padding: 5%;
        margin-left: 10%;

    }
    .form{
        margin-top: 30%;
        margin-left: 10%;
    }
    .search{
        justify-content: center;
    }
    #search-card {
        width: 65%;
    }

    iframe{
        margin-top: 5%;
        height: 60vh;
    }
}