.custom-alert {
    top: 19em;
    width: 17%;
    right: 193px;
    justify-content: right;
    height: 1em;
    background-color: #fff3cd;
    color: #856404;
    padding: 15px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    position: absolute;
    margin: 20px;
}
.custom-alert2 {
    
    width: 17%;
    
    justify-content: right;
    height: 1em;
    background-color: #fff3cd;
    color: #856404;
    padding: 15px;
    border: 1px solid #ffeeba;
    border-radius: 5px;
    position: absolute;
    margin: 20px;
}



