*{
    margin: 0%;
    padding: 0%;
}
#body {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,9,0.4),rgba(0,0,9,0.7)), url(../public/slike/slice-homemade.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 60px;
    position: static;
}
.search{
    display: flex;
    justify-content: right;
    margin-right: 5%;
    padding: 10px 0;
}

.search a{
    padding: 1em;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 15px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    font-size: 16px;
}




#search-card{
    margin: 0.5%;
    margin-right: 2%;
    width: 14em;
    font-size: 2em;
}
#search-card button{
    color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 2px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    width: 20%;
    font-size: 16px;
}
#search-card button:hover{
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    background-color: #45454540;  
    padding: 10px 20px;
    
}
nav a img{
    width: 12em;
    height: 8em;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 30px;  
}


.navigation {   
    text-align:right;
    font-family: Snell Roundhand, cursive;
    margin-top: 2%;
    margin-right: 1%;
    width: 100%;
   
}
h1 {   color: white;
    text-align:right;
    font-family: "Freestyle Script";
    margin-top: 3%;
    font-size: 65px;
 
   
}

.navigation ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    padding-right: 1%;
    margin-top: 2%;
    margin-right: 1%;
    
    
}

.navigation ul li::after{
    background-color: #775206;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    display: block;
    content: "";
    
}
.navigation ul li:hover::after{
    width: 100%;   
}


.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;   
}

.navigation ul li a:hover {
    color: antiquewhite;  
}


.main-content {
    position: relative;
    z-index: 1;
}



@media(max-width:800px){
    /*--- Nav-bar---*/
.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;  
  
}


}

 
   

