
#body {
    height: 111vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,9,0.4),rgba(0,0,9,0.7)), url(../public/slike/slice-homemade.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.search{
    display: flex;
    justify-content: right;
    margin-right: 5px;
    padding: 0px 0;
}

.search a{
    width:90px;
    height: 35px;
    text-align:center;
    padding-top: 15px;
    text-decoration: none;
    color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 15px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    font-size: 16px;
}

#search-card{
    margin: 5px;
    margin-right: 20px;
    width: 300px;
    font-size: 32px;
}
#search-card button{
    color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 10px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    width:90px;
    height: 35px;
    padding-top: 10px;
    padding-bottom: 25px;
    text-align: center;
    font-size: 16px;
}
#search-card button:hover{
    background-color: black;
}

nav{
    display: flex;
    position:sticky;
    top:0px;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: #45454540;  
    padding: 10px;
    z-index: 9999;
    
}
nav a img{
    height: 100px;
    width: 100px;
    margin-right: 20px;
    margin-left: 30px;

}


.navigation {   
    text-align:right;
    font-family: Snell Roundhand, cursive;
    width: 100%;
}
h1 {   color: white;
    text-align:right;
    font-family: "Freestyle Script";
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 70px;
 
   
}

.navigation ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    padding-right: 1%;
    margin-right: 1%;
    
    
}

.navigation ul li::after{
    background-color: #775206;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    display: block;
    content: "";
    
}
.navigation ul li:hover::after{
    width: 100%;   
}


.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;   
}

.navigation ul li a:hover {
    color: antiquewhite;  
}


.main-content {
    position: relative;
    z-index: 1;
}


@media(max-width:800px){
    /*--- Nav-bar---*/
.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;  
  
}


}
/* Logo u sidebar-u */

