*{
    margin: 0%;
    padding: 0%;
}
#body {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,9,0.4),rgba(0,0,9,0.7)), url(../public/slike/slice-homemade.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.search{
    display: flex;
    justify-content: right;
    margin-right: 5%;
}


#search-card{
    margin: 0.5%;
    margin-right: 2%;
    width: 20%;
}
#search-card button{
    color: white;
    border: 2px solid rgb(234, 234, 234);
    border-radius: 2px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    width: 20%;
    font-size: 16px;
}
#search-card button:hover{
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(15px);
    background-color: #45454540;  
    
}
nav a img{
    width: 12em;
    height: 8em;
    margin-top: 20px;
    margin-right: 20px;
    
    margin-left: 30px;  
}


.navigation {   
    text-align:right;
    font-family: Snell Roundhand, cursive;
    margin-top: 2%;
    margin-right: 1%;
    width: 100%;
   
}


.navigation ul li{
    display: inline-block;
    position: relative;
    list-style: none;
    padding-right: 1%;
    margin-top: 2%;
    margin-right: 1%;
    
    
}

.navigation ul li::after{
    background-color: #775206;
    height: 3px;
    width: 0%;
    transition: 0.3s;
    display: block;
    content: "";
    
}
.navigation ul li:hover::after{
    width: 100%;   
}


.navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;   
}

.navigation ul li a:hover {
    color: antiquewhite;  
}






@media(max-width:800px){
    /*--- Nav-bar---*/
.navigation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 300px;    
}


}
/* Stilovi za login modal */
#loginModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    padding-top: 60px;
}

#login-box {
    background-color:transparent ;
    backdrop-filter: blur(15px);
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border: 0.5px solid white;
   height: 400px;
}



#login-box{
    display: grid;
}
.search button {
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.4s;
    background-color:transparent;
    backdrop-filter: blur(15px);
    width: 10%;
    font-size: 16px;
}
#login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}
#login-box #posalji {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    backdrop-filter: blur(15px);
    border: 1px solid white;
   
}
#login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Snell Roundhand, cursive;
    color: white;
    position: relative;
    text-align: center}

    #close{
       
        padding: 12px;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        backdrop-filter: blur(15px);
        
        display: flex;
        justify-content: right;
       

    }


 
   

