/* Stilizacija kontejnera slajdera */
.swiper-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

/* Wrapper za slajdove - flex za horizontalno poređivanje */
.swiper-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Stil za svaki pojedinačni slajd */
.swiper-slide {
  
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    padding: 10%;
   
}

/* Stil za slike unutar slajdova */
.swiper-slide img {
    height: 58vh; /* visina slike je cela visina ekrana */
    width: 100vh;
    object-fit:cover; /* Održava proporcije slike i popunjava ceo ekran */
    border-radius: 10px;
    margin-bottom: 0; /* Brisanje margine ispod slike */
}
/* Stil za naziv proizvoda */
.swiper-slide h3 {
    font-family: Snell Roundhand, cursive;
    font-size: 25px;
    color: #ffffff;
    margin: 10px 0;
    font-weight: bold;
}

/* Stil za opis proizvoda */
.swiper-slide p {
    font-family: Snell Roundhand, cursive;
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0;
}

/* Dugmadi za navigaciju */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50%;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Hover efekat na dugmadi */
.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}

/* Stil za responsivnost - manji uređaji */
@media (max-width: 768px) {
    .swiper-slide img {
        max-width: 80%;
    }

    .swiper-container {
        width: 95%;
    }

    .swiper-slide h3 {
        font-size: 16px;
    }

    .swiper-slide p {
        font-size: 12px;
    }
}






/*Akcije*/
#sale-title{
    color: white;
    margin-top: 5%;
    font-size: 5em;
    text-align: center;
    font-family: "Ink Free", Times, serif;
    
}
#buy-button{ 
    margin-left: 42%;  
    font-family: Snell Roundhand, cursive;
    width: 256px;
    height: 64px;
    padding-bottom: 10px;
    position:relative;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #000000;
    font-weight: 1000;
    font-size: 32px;
    background-color: white;
    backdrop-filter: blur(15px);
}

#buy-button:hover{
    color: #ffffff;
    background-color: transparent;

}




