/* Layout za stranicu pretrage */

.search-layout {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

/* FILTERI LEVO */
.search-sidebar {
    width: 260px;
    padding: 20px;
    background-color: rgba(137, 107, 102, 0.6);
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    backdrop-filter: blur(4px);
}

.search-sidebar h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filter-group label,
.filter-group span.filter-title {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.filter-group input[type="search"],
.filter-group input[type="number"] {
    width: 100%;
    padding: 6px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-label {
    display: block;
    font-weight: normal;
    margin-bottom: 4px;
}

.price-range {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.price-range div {
    width: 50%;
}

.filter-submit {
    padding: 8px 12px;
    background-color: #974e47;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.filter-submit:hover {
    background-color: #e68900;
}

/* DESNO: REZULTATI */
.search-results {
    flex: 1;
}
