/* Globalne postavke */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: linear-gradient(rgba(0,0,9,0.4),rgba(0,0,9,0.7)), url(../public/slike/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.price-quantity{
    display: block;
}
.quantity{
    width: 10%;
    height: 15%;


}
/* Kontejner za proizvod */
.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 80%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Slika proizvoda */
.product-img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 30px;
    border-radius: 8px;
}

/* Informacije o proizvodu */
.product-info {
    max-width: 600px;
}

.product-info h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

.product-info p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.product-info strong {
    font-size: 1.5em;
    color: #ff6f61;
}

/* Dugme za dodavanje u korpu */
.shopping2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    color: #fff;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.shopping2:hover {
    background-color: #e95a47;
}

/* Responsivnost - Mobilni uređaji */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        text-align: center;
    }

    .product-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .product-info {
        width: 100%;
    }

    .product-info h2 {
        font-size: 1.8em;
    }
}
/* Breadcrumbs */
.breadcrumb {
    margin: 3em;
    margin-left: 6em;
    background-color: transparent;
    padding: 10px 0;
    list-style: none;
    margin-bottom: 20px;
}

.breadcrumb-item {
    display: inline;
    font-size: 1em;
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    font-size: 25px;
    color: #fdfdfd;
}
