/* Stilizacija tabele proizvoda i vesti*/

img{
    width: 7em;
    height: 7em;
}
h1 {
    text-align: center;
    color: #333;
}
#dodajProizvod,
#dodajVest 
{
    border: 1px solid;
    text-decoration: none;
    border-radius: 5px;
    margin: 2px;
    padding: 9px;
    background-color: #28a745;
    color: white;
    font-weight: bold;

}

#dugme {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
    text-align: center;
}

#dugme:hover {
    background-color: #218838;
}

/* Stilizacija tabele */
table {
    width: 90%;
    margin: 50px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Zaglavlje tabele */
th {
    background-color: #343a40;
    color: white;
    padding: 12px;
    text-align: left;
}

/* Redovi u tabeli */
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

