* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.admin-container {
    display: flex;
}

.sidebar {
   
    width: 250px;
    background: #2990ff;
    color: white;
    padding: 20px;
    height: 1000hv;
}

.sidebar #admin-title {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
    
}

.sidebar ul li a:hover {
    background: #84c9fb;
}

